# Hedera NFT Reccomendation System data gathering
DSC 478 Hanlon & Ustura (Data last pulled from the Hedera Mirror Node API on 11/17/2023)

In [1]:
import pandas as pd
import numpy as np
import json

Read in data from gather.js output files and save a file of unique accounts

In [2]:
accounts = {}

chunk_size = 10000

# read file in chunks and collect unique account along with their token balances
for chunk in pd.read_csv('balances.txt', chunksize=chunk_size, header=None, names=['account_id', 'token_id', 'balance']):
    for _, row in chunk.iterrows():
        account_id = row['account_id']
        token_id = row['token_id']
        balance = row['balance']
        if account_id not in accounts:
            accounts[account_id] = {}
        if token_id not in accounts[account_id]:
            accounts[account_id][token_id] = 0
        accounts[account_id][token_id] += balance

print('Unique Accounts:', len(accounts))

# Save the unique account to a file
with open('unique_accounts.txt', 'w') as file:
    for account_id in accounts:
        file.write(account_id + '\n')

Unique Accounts: 632203

Load all qualifying tokens from json file

In [3]:
with open('all_tokens.json', 'r') as json_file:
    tokens = json.load(json_file)

print('Unique Tokens:', len(tokens))

Unique Tokens: 1404

Testing an account against the network to make sure data is accurate

In [4]:
my_account = accounts['0.0.509323']
print(len(my_account))
for token_id, balance in my_account.items():
    print(f"Token ID: {token_id}, Balance: {balance}")

8
Token ID:  0.0.511406, Balance: 39
Token ID:  0.0.511414, Balance: 32
Token ID:  0.0.562847, Balance: 13
Token ID:  0.0.563000, Balance: 13
Token ID:  0.0.600311, Balance: 32
Token ID:  0.0.600321, Balance: 30
Token ID:  0.0.911740, Balance: 654
Token ID:  0.0.1099364, Balance: 37

Drop Accounts if less than 5 unique tokens owned or if a token balance exceeds or equals 500

In [5]:
to_delete = []
to_delete_2 = []
for account in accounts:
    curr = accounts[account]
    if len(curr) < 5:
        to_delete.append(account)
        #print(account, len(curr))

for acct_to_del in to_delete:
    del accounts[acct_to_del]

for account in accounts:
    curr = accounts[account]
    for token, bal in curr.items():
        if bal >= 500:
            #print(account, token, bal)
            if account not in to_delete_2:
                to_delete_2.append(account)

for acct_to_del2 in to_delete_2:
    del accounts[acct_to_del2]

print('Unique Accounts:', len(accounts))

Unique Accounts: 15760

Check + add name

In [6]:
tokens.insert(0, 'account id')
print(len(tokens))
print(tokens[:3])

1405
['account id', '0.0.475254', '0.0.475255']

Write header to csv

In [7]:
tokens_df = pd.DataFrame(columns=tokens)
tokens_df.to_csv('data.csv', header=True, index=False)
tokens_df

Empty DataFrame
Columns: [account id, 0.0.475254, 0.0.475255, 0.0.475256, 0.0.488087, 0.0.495216, 0.0.497204, 0.0.505777, 0.0.506899, 0.0.508627, 0.0.509606, 0.0.510563, 0.0.511406, 0.0.511414, 0.0.511541, 0.0.512517, 0.0.512728, 0.0.513547, 0.0.514379, 0.0.515181, 0.0.515335, 0.0.515338, 0.0.515340, 0.0.515341, 0.0.515342, 0.0.515343, 0.0.515344, 0.0.516216, 0.0.517874, 0.0.517885, 0.0.517896, 0.0.518692, 0.0.529468, 0.0.529585, 0.0.536777, 0.0.539427, 0.0.540070, 0.0.550134, 0.0.550186, 0.0.550246, 0.0.550273, 0.0.555336, 0.0.557791, 0.0.562847, 0.0.563000, 0.0.566722, 0.0.576244, 0.0.577158, 0.0.577796, 0.0.577811, 0.0.577820, 0.0.577828, 0.0.577837, 0.0.578827, 0.0.581896, 0.0.583572, 0.0.585801, 0.0.586381, 0.0.586610, 0.0.586615, 0.0.586631, 0.0.588665, 0.0.589455, 0.0.589685, 0.0.590540, 0.0.590547, 0.0.590552, 0.0.590918, 0.0.592034, 0.0.592064, 0.0.592237, 0.0.592885, 0.0.594057, 0.0.594837, 0.0.596194, 0.0.597385, 0.0.597388, 0.0.597389, 0.0.597393, 0.0.597396, 0.0.597398, 0.0.597399, 0.0.598008, 0.0.599043, 0.0.600311, 0.0.600321, 0.0.601824, 0.0.602459, 0.0.602992, 0.0.603016, 0.0.603025, 0.0.603038, 0.0.603051, 0.0.603116, 0.0.604192, 0.0.605173, 0.0.605174, 0.0.605175, 0.0.605176, 0.0.605177, ...]
Index: []

[0 rows x 1405 columns]

Append account id and corresponding balances to tokens to csv file for all accounts and their balances

In [8]:
for account in accounts:
    account_id_df = pd.DataFrame([[account_id]], columns=['account_id'])
    account_id_df
    currAccount = accounts[account]
    row = np.zeros(len(tokens)-1, dtype=object)
    row = np.insert(row, 0, account)
    for token_id, balance in currAccount.items():
        token_idx = tokens.index(token_id.strip())
        row[token_idx] = balance
        #print(account, token_id, balance)
    #print(account, np.unique(row, return_index=True))
    row_df = pd.DataFrame(row)
    row_df = row_df.T
    #row_df = row_df.astype(int)
    #print(row_df.head(10))
    row_df.to_csv('data.csv', mode='a', header=False, index=False)

data.csv now contains our final structured, filtered, and cleaned data